<div class="collapse" id="compatible_collapse">
    <ul class="list-unstyled top-m">
        <li><img alt="Approach® S70 (42mm)"
                src="https://res.garmin.com/fi_FI/products/010-02746-10/pd-01-sm.jpg?w=96&q=75"><span>Approach®
                S70 (42mm)</span></li>
        <li><img alt="Approach® S70 (47mm)"
                src="https://res.garmin.com/en/products/010-02746-22/g/pd-05-sm.jpg?w=96&q=75"><span>Approach®
                S70 (47mm)</span></li>
        <li><img alt="Captain Marvel"
                src="https://static.garmincdn.com/en/products/010-02172-41/g/cf-sm-0a318bb6-9baa-4c5d-b344-19de0c656cd7.jpg?w=96&q=75"><span>Captain
                Marvel</span></li>
        <li><img alt="D2™ Air"
                src="https://static.garmincdn.com/en/products/010-02173-41/g/cf-sm-11d59984-bc91-49ed-bfe9-d2ddc7c627a8.jpg?w=96&q=75"><span>D2™
                Air</span></li>
        <li><img alt="D2™ Air X10"
                src="https://static.garmincdn.com/en/products/010-02496-09/v/pd-01-sm-bc0a4be7-cac1-424e-9343-dbadb33efabf.jpg?w=96&q=75"><span>D2™
                Air X10</span></li>
        <li><img alt="D2™ Delta"
                src="https://static.garmincdn.com/en/products/010-01988-30/g/cf-sm-87bb0674-cc55-4a52-ad94-32bf9b4e729c.jpg?w=96&q=75"><span>D2™
                Delta</span></li>
        <li><img alt="D2™ Delta PX"
                src="https://static.garmincdn.com/en/products/010-01989-30/g/cf-sm-874810a3-a28b-4484-955d-6c4a24c4f7bf.jpg?w=96&q=75"><span>D2™
                Delta PX</span></li>
        <li><img alt="D2™ Delta S"
                src="https://static.garmincdn.com/en/products/010-01987-30/g/cf-sm-431a8fa0-3449-43e0-9702-5ff6ad991c84.jpg?w=96&q=75"><span>D2™
                Delta S</span></li>
        <li><img alt="D2™ Mach 1"
                src="https://static.garmincdn.com/en/products/010-02582-50/g/cf-sm-072c4843-2066-4cd6-8d23-35dfcc65dd05.jpg?w=96&q=75"><span>D2™
                Mach 1</span></li>
        <li><img alt="D2™ Mach 1 Pro"
                src="https://res.garmin.com/en/products/010-02804-80/v/pd-01-sm.jpg?w=96&q=75"><span>D2™
                Mach 1 Pro</span></li>
        <li><img alt="Darth Vader™"
                src="https://static.garmincdn.com/en/products/010-02174-51/g/rf-sm-068425e4-b235-460f-a031-304d364ebb6c.jpg?w=96&q=75"><span>Darth
                Vader™</span></li>
        <li><img alt="Descent™ MK2"
                src="https://static.garmincdn.com/en/products/010-02132-00/v/pd-03-sm-5dcaa3d1-3191-4acb-b602-7790096bddd6.jpg?w=96&q=75"><span>Descent™
                MK2, Descent™MK2i</span></li>
        <li><img alt="Descent™ MK3 (43mm)"
                src="https://res.garmin.com/fr_CA/products/010-02753-03/v/pd-04-sm.jpg?w=96&q=75"><span>Descent™
                MK3 (43mm)</span></li>
        <li><img alt="Descent™ MK3 (51mm)"
                src="https://res.garmin.com/es_MX/products/010-02752-10/v/pd-04-sm.jpg?w=96&q=75"><span>Descent™
                MK3 (51mm)</span></li>
        <li><img alt="Descent™ Mk2S"
                src="https://static.garmincdn.com/en/products/010-02403-00/v/cm-sm-ffd44110-3573-4463-9894-dd6896cdef35.png?w=96&q=75"><span>Descent™
                Mk2S</span></li>
        <li><img alt="Enduro™ 2"
                src="https://res.cloudinary.com/it-production/image/upload/v1648824135/Product_Images/en/products/010-02754-00/g/pd-05-sm-66796f25-e282-4a31-bd44-93fb6ddbf2ee.jpg?w=96&q=75"><span>Enduro™
                2</span></li>
        <li><img alt="Enduro™ 3"
                src="https://res.garmin.com/en/products/010-02751-00/v/pd-05-sm.jpg?w=96&q=75"><span>Enduro™
                3</span></li>
        <li><img alt="First Avenger"
                src="https://static.garmincdn.com/en/products/010-02174-41/g/cf-sm-f2db5e1c-5419-42b2-9f22-c4da61e9878a.jpg?w=96&q=75"><span>First
                Avenger</span></li>
        <li><img alt="Forerunner® 165 Music"
                src="https://res.garmin.com/sl_SI/products/010-02863-31/v/rf-sm.jpg?w=96&q=75"><span>Forerunner®
                165 Music</span></li>
        <li><img alt="Forerunner® 245 Music"
                src="https://static.garmincdn.com/en/products/010-02120-20/v/cf-sm-3f7eab23-b754-4e70-aba1-518f230a57f7.jpg?w=96&q=75"><span>Forerunner®
                245 Music</span></li>
        <li><img alt="Forerunner® 255 Music"
                src="https://res.cloudinary.com/it-production/image/upload/v1649774269/Product_Images/en/products/010-02641-20/v/pd-03-sm.jpg?w=96&q=75"><span>Forerunner®
                255 Music</span></li>
        <li><img alt="Forerunner® 255S Music"
                src="https://res.cloudinary.com/it-production/image/upload/v1649774367/Product_Images/en/products/010-02641-23/v/pd-03-sm.jpg?w=96&q=75"><span>Forerunner®
                255S Music</span></li>
        <li><img alt="Forerunner® 265"
                src="https://res.cloudinary.com/it-production/image/upload/v1671719581/Product_Images/en/products/010-02810-00/g/rf-sm.jpg?w=96&q=75"><span>Forerunner®
                265</span></li>
        <li><img alt="Forerunner® 265S"
                src="https://res.cloudinary.com/it-production/image/upload/v1673209517/Product_Images/en/products/010-02810-03/g/pd-01-sm.jpg?w=96&q=75"><span>Forerunner®
                265S</span></li>
        <li><img alt="Forerunner® 645 Music"
                src="https://static.garmincdn.com/en/products/010-01863-30/v/cf-sm-cf7f4202-dce2-4c43-ab20-0d0ae12b35f3.jpg?w=96&q=75"><span>Forerunner®
                645 Music</span></li>
        <li><img alt="Forerunner® 745"
                src="https://static.garmincdn.com/en/products/010-02445-00/v/pd-01-sm-08be35f2-d0c8-4f90-8bba-79330826183f.jpg?w=96&q=75"><span>Forerunner®
                745</span></li>
        <li><img alt="Forerunner® 945"
                src="https://static.garmincdn.com/en/products/010-02063-00/v/cf-sm-538e211f-f991-4d7a-91f7-d25d4feb9a99.jpg?w=96&q=75"><span>Forerunner®
                945</span></li>
        <li><img alt="Forerunner® 945 LTE"
                src="https://static.garmincdn.com/en/products/010-02383-00/v/rf-sm-333473bc-693b-47c4-aaa8-dbb0768ddaa3.jpg?w=96&q=75"><span>Forerunner®
                945 LTE</span></li>
        <li><img alt="Forerunner® 955"
                src="https://res.cloudinary.com/it-production/image/upload/v1648587638/Product_Images/en/products/010-02638-10/v/rf-sm-02b8c734-88b3-4aef-94ec-8ef61dec4c3f.jpg?w=96&q=75"><span>Forerunner®
                955, Forerunner® 955 Solar</span></li>
        <li><img alt="Forerunner® 965"
                src="https://res.cloudinary.com/it-production/image/upload/v1673539390/Product_Images/en/products/010-02809-00/g/rf-sm.jpg?w=96&q=75"><span>Forerunner®
                965</span></li>
        <li><img alt="MARQ® (Gen 2)"
                src="https://res.cloudinary.com/it-production/image/upload/v1664569372/Product_Images/en/products/010-02648-30/g/pd-04-sm.jpg?w=96&q=75"><span>MARQ®
                (Gen 2), MARQ® Carbon Collection</span></li>
        <li><img alt="MARQ® Commander (Gen 2) – Carbon Edition" data-nimg="1"
                src="https://res.garmin.com/en/products/010-02722-00/v/pd-03-sm.jpg?w=96&q=75"><span>MARQ®
                Commander (Gen 2) – Carbon Edition</span></li>
        <li><img alt="MARQ™ Adventurer"
                src="https://static.garmincdn.com/en/products/010-02006-26/g/cf-sm-f78826d3-cb9a-42f0-871c-ca80cc34c5a4.jpg?w=96&q=75"><span>MARQ™
                Adventurer</span></li>
        <li><img alt="MARQ™ Athlete"
                src="https://static.garmincdn.com/en/products/010-02006-15/g/cf-sm-0b73c33d-2df0-4d7e-b438-fd23d7c4390f.jpg?w=96&q=75"><span>MARQ™
                Athlete</span></li>
        <li><img alt="MARQ™ Aviator"
                src="https://static.garmincdn.com/en/products/010-02006-03/g/cf-sm-614d7b98-9b70-4c8a-bec7-5ee303166767.jpg?w=96&q=75"><span>MARQ™
                Aviator</span></li>
        <li><img alt="MARQ™ Aviator (Gen 2)"
                src="https://res.cloudinary.com/it-production/image/upload/v1660570440/Product_Images/en/products/010-02648-00/g/pd-04-sm.jpg?w=96&q=75"><span>MARQ™
                Aviator (Gen 2)</span></li>
        <li><img alt="MARQ™ Captain"
                src="https://static.garmincdn.com/en/products/010-02006-06/g/cf-sm-04034f67-9380-4d27-b5aa-678600fb8b5f.jpg?w=96&q=75"><span>MARQ™
                Captain, MARQ™ Captain: American Magic
                Edition</span></li>
        <li><img alt="MARQ™ Commander"
                src="https://static.garmincdn.com/en/products/010-02006-11/g/rf-sm-517ae5f4-8789-49b5-ad89-d2002ee9f8e3.jpg?w=96&q=75"><span>MARQ™
                Commander</span></li>
        <li><img alt="MARQ™ Driver"
                src="https://static.garmincdn.com/en/products/010-02006-00/g/cf-sm-2f580581-696f-4e11-808b-c8acd963de46.jpg?w=96&q=75"><span>MARQ™
                Driver</span></li>
        <li><img alt="MARQ™ Expedition"
                src="https://static.garmincdn.com/en/products/010-02006-12/g/cf-sm-4d82de5c-a266-4cb0-abd1-a167526e2669.jpg?w=96&q=75"><span>MARQ™
                Expedition</span></li>
        <li><img alt="MARQ™ Golfer"
                src="https://static.garmincdn.com/en/products/010-02394-00/g/pd-01-sm-fab01f49-dd1d-4d6e-8519-0d817c1ae674.jpg?w=96&q=75"><span>MARQ™
                Golfer</span></li>
        <li><img alt="Mercedes-Benz Venu®"
                src="https://static.garmincdn.com/en/products/010-02173-52/v/cf-sm-86fc3396-766b-408e-9755-0c8fb5bbacc5.jpg?w=96&q=75"><span>Mercedes-Benz
                Venu®</span></li>
        <li><img alt="Mercedes-Benz Venu® 2"
                src="https://static.garmincdn.com/en/products/010-02430-22/v/cf-sm-c77f7728-90d5-4be1-a73b-b988ed45bcc1.png?w=96&q=75"><span>Mercedes-Benz
                Venu® 2</span></li>
        <li><img alt="Mercedes-Benz Venu® 2S"
                src="https://static.garmincdn.com/en/products/010-02429-20/v/cf-sm-06f6a68d-b824-401d-b65e-dd33db5cb6cf.png?w=96&q=75"><span>Mercedes-Benz
                Venu® 2S</span></li>
        <li><img alt="Rey™"
                src="https://static.garmincdn.com/en/products/010-02172-51/g/rf-sm-f55ac7b5-223c-4c58-ba98-8b6938b26bc0.jpg?w=96&q=75"><span>Rey™</span>
        </li>
        <li><img alt="Venu®"
                src="https://static.garmincdn.com/en/products/010-02173-12/v/cf-sm-9af674f3-640f-43f0-91df-117ed510ffcf.jpg?w=96&q=75"><span>Venu®</span>
        </li>
        <li><img alt="Venu® 2"
                src="https://static.garmincdn.com/en/products/010-02430-10/v/cm-sm-26d3d922-fbce-45e1-9851-0fc7cd29f2c0.png?w=96&q=75"><span>Venu®
                2</span></li>
        <li><img alt="Venu® 2 Plus"
                src="https://static.garmincdn.com/en/products/010-02496-10/v/pd-01-sm-8096ba5b-467d-406a-8207-6e2b8a609d2f.jpg?w=96&q=75"><span>Venu®
                2 Plus</span></li>
        <li><img alt="Venu® 2S"
                src="https://static.garmincdn.com/en/products/010-02429-10/v/cm-sm-9e11f013-57fa-4143-aeba-20804d29ec5c.png?w=96&q=75"><span>Venu®
                2S</span></li>
        <li><img alt="Venu® 3"
                src="https://res.garmin.com/de_DE/products/010-02784-00/v/pd-01-sm.png?w=96&q=75"><span>Venu®
                3</span></li>
        <li><img alt="Venu® 3S"
                src="https://res.garmin.com/es_MX/products/010-02785-00/v/pd-01-sm.png?w=96&q=75"><span>Venu®
                3S</span></li>
        <li><img alt="Venu® Sq. 2 Music"
                src="https://res.cloudinary.com/it-production/image/upload/v1657201253/Product_Images/en/products/010-02700-00/v/pd-03-sm.jpg?w=96&q=75"><span>Venu®
                Sq. 2 Music</span></li>
        <li><img alt="Venu® Sq. Music"
                src="https://static.garmincdn.com/en/products/010-02426-00/v/pd-03-sm-3fe44d78-b9a2-4f69-9530-152a9e1b8daa.jpg?w=96&q=75"><span>Venu®
                Sq. Music</span></li>
        <li><img alt="epix™ (Gen 2)"
                src="https://static.garmincdn.com/en/products/010-02582-00/v/sc-02-sm-a9a189e7-e6a6-4a21-a8f2-71d306469085.jpg?w=96&q=75"><span>epix™
                (Gen 2), quatix® 7 – Sapphire Edition</span></li>
        <li><img alt="epix™ Pro (42mm)"
                src="https://res.garmin.com/en/products/010-02802-13/v/pd-01-sm.jpg?w=96&q=75"><span>epix™
                Pro (42mm)</span></li>
        <li><img alt="epix™ Pro (47mm)"
                src="https://res.garmin.com/en/products/010-02803-00/v/pd-04-sm.jpg?w=96&q=75"><span>epix™
                Pro (47mm), quatix® 7 Pro</span></li>
        <li><img alt="epix™ Pro (51mm)"
                src="https://res.garmin.com/en/products/010-02804-21/v/pd-04-sm.jpg?w=96&q=75"><span>epix™
                Pro (51mm)</span></li>
        <li><img alt="fēnix® 5 Plus"
                src="https://static.garmincdn.com/en/products/010-01988-10/v/cf-sm-c9091bfe-f1af-42b4-bd62-f3b45f46a15d.jpg?w=96&q=75"><span>fēnix®
                5 Plus</span></li>
        <li><img alt="fēnix® 5S Plus"
                src="https://static.garmincdn.com/en/products/010-01987-00/v/cf-sm-58f98bed-90e7-4199-b4bc-925aec9690a7.jpg?w=96&q=75"><span>fēnix®
                5S Plus</span></li>
        <li><img alt="fēnix® 5X Plus"
                src="https://static.garmincdn.com/en/products/010-01989-04/v/cf-sm-6dd29412-ddad-4f53-b62d-84eaaa06f258.jpg?w=96&q=75"><span>fēnix®
                5X Plus</span></li>
        <li><img alt="fēnix® 6 Pro"
                src="https://static.garmincdn.com/en/products/010-02158-02/v/cf-sm-c561cac8-1a27-4bb1-8374-d99dc6afe57a.jpg?w=96&q=75"><span>fēnix®
                6 Pro, fēnix® 6 Sapphire</span></li>
        <li><img alt="fēnix® 6 Pro Dual Power"
                src="https://static.garmincdn.com/en/products/010-02410-10/v/rf-sm-f9532945-ccc5-430c-9bd7-8a0f50b7fb1d.jpg?w=96&q=75"><span>fēnix®
                6 Pro Dual Power</span></li>
        <li><img alt="fēnix® 6 Pro Solar"
                src="https://static.garmincdn.com/en/products/010-02410-10/v/rf-sm-f9532945-ccc5-430c-9bd7-8a0f50b7fb1d.jpg?w=96&q=75"><span>fēnix®
                6 Pro Solar</span></li>
        <li><img alt="fēnix® 6S Pro"
                src="https://static.garmincdn.com/en/products/010-02159-14/v/cf-sm-6f0a6934-59f4-467c-8a6d-e74cb01d5ca6.jpg?w=96&q=75"><span>fēnix®
                6S Pro, fēnix® 6S Sapphire</span></li>
        <li><img alt="fēnix® 6S Pro Dual Power"
                src="https://static.garmincdn.com/en/products/010-02409-15/v/rf-sm-4d0f762d-bb36-4d24-b4fe-c897e246ab91.jpg?w=96&q=75"><span>fēnix®
                6S Pro Dual Power</span></li>
        <li><img alt="fēnix® 6S Pro Solar"
                src="https://static.garmincdn.com/en/products/010-02409-15/v/rf-sm-4d0f762d-bb36-4d24-b4fe-c897e246ab91.jpg?w=96&q=75"><span>fēnix®
                6S Pro Solar</span></li>
        <li><img alt="fēnix® 6X Pro"
                src="https://static.garmincdn.com/en/products/010-02157-01/v/cf-sm-47dff6dd-beb7-42eb-9daa-3585c81c12ea.jpg?w=96&q=75"><span>fēnix®
                6X Pro, fēnix® 6X Sapphire, fēnix® 6X Pro Solar,
                tactix® Delta Sapphire, quatix® 6X Solar, tactix® Delta Solar, tactix® Delta Solar Ballistics</span>
        </li>
        <li><img alt="fēnix® 7"
                src="https://static.garmincdn.com/en/products/010-02540-00/v/rf-sm-79088307-fcf5-4dff-9eb9-3090f92db1bb.jpg?w=96&q=75"><span>fēnix®
                7, quatix® 7</span></li>
        <li><img alt="fēnix® 7 Pro"
                src="https://res.garmin.com/en/products/010-02777-01/v/pd-06-sm.jpg?w=96&q=75"><span>fēnix®
                7 Pro, fēnix® 7 Pro – Solar Edition, fēnix® 7 Pro –
                Sapphire Solar Edition</span></li>
        <li><img alt="fēnix® 7S"
                src="https://static.garmincdn.com/en/products/010-02539-00/g/cf-sm-3ecb177b-cbcd-41dd-80e5-c954164a0955.jpg?w=96&q=75"><span>fēnix®
                7S, fēnix® 7S– Solar Edition, fēnix® 7S– Sapphire
                Solar Edition</span></li>
        <li><img alt="fēnix® 7S Pro"
                src="https://res.garmin.com/en/products/010-02776-30/v/pd-06-sm.jpg?w=96&q=75"><span>fēnix®
                7S Pro, fēnix® 7S Pro– Sapphire Solar
                Edition</span></li>
        <li><img alt="fēnix® 7X"
                src="https://static.garmincdn.com/en/products/010-02541-11/v/sc-03-sm-cd878574-7789-4323-a2f2-1acebcff5f36.jpg?w=96&q=75"><span>fēnix®
                7X, fēnix® 7X - Solar Edition, fēnix® 7X– Sapphire
                Solar Edition, quatix® 7X – Solar Edition</span></li>
        <li><img alt="fēnix® 7X Pro"
                src="https://res.garmin.com/en/products/010-02778-00/g/pd-06-sm.jpg?w=96&q=75"><span>fēnix®
                7X Pro, fēnix® 7X Pro– Sapphire Solar
                Edition</span></li>
        <li><img alt="fēnix® 8 AMOLED (43mm)"
                src="https://res.garmin.com/en/products/010-02903-00/v/pd-06-sm.jpg?w=96&q=75"><span>fēnix®
                8 AMOLED (43mm)</span></li>
        <li><img alt="fēnix® 8 AMOLED (47mm/51mm)"
                src="https://res.garmin.com/en/products/010-02905-00/v/pd-06-sm.jpg?w=96&q=75"><span>fēnix®
                8 AMOLED (47mm/51mm)</span></li>
        <li><img alt="fēnix® 8 Solar (47mm)"
                src="https://res.garmin.com/en/products/010-02906-10/v/rf-sm.jpg?w=96&q=75"><span>fēnix®
                8 Solar (47mm)</span></li>
        <li><img alt="fēnix® 8 Solar (51mm)"
                src="https://res.garmin.com/en/products/010-02907-10/v/rf-sm.jpg?w=96&q=75"><span>fēnix®
                8 Solar (51mm)</span></li>
        <li><img alt="fēnix® E"
                src="https://res.garmin.com/en/products/010-03025-02/v/pd-05-sm.jpg?w=96&q=75"><span>fēnix®
                E</span></li>
        <li><img alt="quatix® 6"
                src="https://static.garmincdn.com/en/products/010-02158-90/g/rf-sm-c3bd24e1-838f-41a5-b84b-45f8c3bc33ec.jpg?w=96&q=75"><span>quatix®
                6</span></li>
        <li><img alt="quatix® 6X"
                src="https://static.garmincdn.com/en/products/010-02157-30/g/rf-sm-08137167-34a8-4a4b-8065-ab9f72810db0.jpg?w=96&q=75"><span>quatix®
                6X, quatix® 6X Solar, quatix® 6X Dual Power</span>
        </li>
        <li><img alt="tactix® 7"
                src="https://static.garmincdn.com/en/products/010-02704-00/v/pd-01-sm-b5f086c9-db63-458e-b1c3-70076dff030d.jpg?w=96&q=75"><span>tactix®
                7, tactix® 7 – Pro Ballistics Edition, tactix® 7 –
                Pro Edition</span></li>
        <li><img alt="tactix® 7 – AMOLED Edition"
                src="https://res.garmin.com/en/products/010-02931-00/g/pd-03-sm.png?w=96&q=75"><span>tactix®
                7 – AMOLED Edition</span></li>
        <li><img alt="vívoactive® 3 Music"
                src="https://static.garmincdn.com/en/products/010-01985-03/v/cf-sm-cc4e0386-75e2-4c2f-8cc5-59cca47faed6.jpg?w=96&q=75"><span>vívoactive®
                3 Music</span></li>
        <li><img alt="vívoactive® 4"
                src="https://static.garmincdn.com/en/products/010-02174-12/v/cf-sm-ea8594d6-289b-4a61-b99c-0566e02a9b43.jpg?w=96&q=75"><span>vívoactive®
                4</span></li>
        <li><img alt="vívoactive® 4S"
                src="https://static.garmincdn.com/en/products/010-02172-32/v/cf-sm-dd867152-525f-4622-a4f4-d7a09dcea813.jpg?w=96&q=75"><span>vívoactive®
                4S, GarminActive S</span></li>
        <li><img alt="vívoactive® 5"
                src="https://res.cloudinary.com/it-production/image/upload/f_auto/q_auto/Product_Images/en/products/010-02862-10/v/pd-01-sm.jpg?w=96&q=75"><span>vívoactive®
                5</span></li>
    </ul>
</div>